<div class="container">
  <h1 class="text-white mt-4 text-center">MEDIA COLLECTIONS</h1>
  <p class="text-center"><%= link_to '[ Create new Media Collection ]', new_media_collection_path, class: "text-info" %></p>
<%= render 'display_media_collections' %>
</div>