<div class="container">
<div class="flex-center-container mt-5 mb-5">
    <div class="card" style="width: 60rem;">
    <img class="card-img-top" src='<%=asset_path("bio_large.jpg")%>' alt="Card image cap">
         <div class="card-body">
            
            <%= simple_format(@bio.about_bio, class: 'card-text') %>
            
            <div class="card-body text-right">
                <%= render 'inquirie_button' %>
            </div>        
            
        </div>
    </div>
</div>
</div>