<div class="container">
<div class="media__units-container">
    <% @ranked_media.each do |media| %>
      
        <% if media[5] == 'MediaCollection' %>
          <%= render 'media_collection_show', media: media %>
          
        <% else %>
          <%= render 'media_link_show', media: media %>
        <% end %>
    <% end %>
    </div>
</div>