/* this allows for overwriting default bootstrap css */
@import 'bootstrap/dist/css/bootstrap';


#logo {
    float: left;
    font-size: 1.7rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}
html,
body {
  height: 100%;

  background-image: asset-url('bg_main@3x.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;

}

#page-content {
    flex: 1 0 auto;
}
  
#sticky-footer {
    flex-shrink: none;
}

#home_wrapper {

}
#home_container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    

    // background-color: grey;
    color: black;
}

.home_content {
    padding: 0 2rem;
}

#home_content_bio {
    // background-color: greenyellow;
    padding-top: 2rem;
}

#home_content_events {
    // background-color: green;
    padding-top: 2rem;
}

.card {
    margin-bottom: 1rem;
}


#home-inquiry-button-text a{
    color: white !important;
}

#home-inquiry-button-text a:hover{
    text-decoration: none;
}

.black-link-text a {
    color: black !important;
}
.black-link-text a:hover {
    text-decoration: none;
}



/* pagination module : */ 
  
  .flickr_pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default; }
    .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
      padding: 0.2em 0.5em; 
      border-radius: 5px;}
    .flickr_pagination .disabled {
      color: #aaaaaa; }
    .flickr_pagination .current {
      font-style: normal;
      font-weight: bold;
      color: #ff0084; }
    .flickr_pagination a {
      border: 1px solid whitesmoke;
      color: whitesmoke;
      text-decoration: none; }
      .flickr_pagination a:hover, .flickr_pagination a:focus {
        border-color: grey;
        background: whitesmoke;
        color: grey; }
    .flickr_pagination .page_info {
      color: #aaaaaa;
      padding-top: 0.8em; }
    .flickr_pagination .previous_page, .flickr_pagination .next_page {
      border-width: 2px; }
    .flickr_pagination .previous_page {
      margin-right: 1em; }
    .flickr_pagination .next_page {
      margin-left: 1em; }