<div class="container">
  <% flash.each do |name, msg| %>
    
    <% if name == "alert" %>
        <div class="alert alert-danger alert-dismissible fade show d-flex justify-content-between" role="alert">
    <% elsif name == "notice" %>
        <div class="alert alert-success alert-dismissible fade show d-flex justify-content-between" role="alert">
    <% else %>
        <div class="alert alert-success alert-primary fade show d-flex justify-content-between" role="alert">
    <% end %>
          <%= msg %>
          <div class="text-right">
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
    <% end %>
  </div>

